<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666524168252-257ptqscstom48m8omoc6t91vnhnp3ev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666524168252-257ptqscstom48m8omoc6t91vnhnp3ev</string>
	<key>API_KEY</key>
	<string>AIzaSyDTra155C93S0ECrt8MtaXGwf8Pm2d4tUc</string>
	<key>GCM_SENDER_ID</key>
	<string>666524168252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.saleh4dev.MySubscriptions</string>
	<key>PROJECT_ID</key>
	<string>mysubscriptions-45011</string>
	<key>STORAGE_BUCKET</key>
	<string>mysubscriptions-45011.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666524168252:ios:cf4d7f9daf04e59ef21339</string>
	<key>DATABASE_URL</key>
	<string>https://mysubscriptions-45011.firebaseio.com</string>
</dict>
</plist>